h1 {
    margin: 50px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 100px;
}

.dummy {
    width: 400px;
    height: 0;
}

.flex-start {
    align-items: flex-start;
}

.burger {
    position: fixed;
    font-size: 66px;
    left: 0;
    top: 0;
    width: 7%;
    height: 100vh;
}

aside {
    opacity: 0.5;
    transition: 300ms;
    position: fixed;
    top: 0;
    left: 0;
    width: 7%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.833);
    border-radius: 0 50% 50% 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.475);
}

.aside-menu {
    width: 15%;
    border-radius: 0 50% 50% 0;
    opacity: 1;
}