<div class="box flex-center column">
  <h1>{{"my store" | titlecase}}</h1>

  <div class="flex-center flex-start">

    <div class="burger flex-center" *ngIf="!mouseIsOver">
      <i class="uil uil-search"></i>
    </div>
    
    <aside
    (mouseenter)="mouseIsOver = true" 
    (mouseleave)="mouseIsOver = false" [ngClass]="{'aside-menu': mouseIsOver}" 
    >
    <ng-container *ngIf="mouseIsOver">
      <app-aside-menu
      (valueEvent)="getSearchValue($event)"
      ></app-aside-menu>
      </ng-container>
    </aside>
    
    
    <section>
      <app-product
      *ngFor="let product of products | filter: searchValue"
      [product]="product"
      ></app-product>
      <div class="dummy"></div>
      <div class="dummy"></div>
    </section>
  </div>
</div>