<div class="box flex-center column">

  <!-- <header class="flex-center">
    <i class="fa-solid fa-basket-shopping btn"></i>
  </header> -->

  <div class="flex-center flex-start">

    <div class="burger flex-center" 
    *ngIf="!mouseIsOver"
    >
      <i class="uil uil-search"></i>
    </div>
    
    <aside
    (mouseenter)="mouseIsOver = true" 
    (mouseleave)="mouseIsOver = false" 
    [ngClass]="{'aside-menu': mouseIsOver}" 
    >
    <ng-container>
      <app-aside-menu 
      class="aside-comp"
      (valueEvent)="getSearchValue($event)"
      (categoryEvent)="getCategoryValue($event)"
      ></app-aside-menu>
      </ng-container>
    </aside>
    
    
    <section>
      <app-product
      *ngFor="let product of products | filter: searchValue"
      [product]="product"
      ></app-product>
      <div class="dummy"></div>
      <div class="dummy"></div>
    </section>
  </div>
</div>